h1{
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(24, 94, 224); 
  text-decoration: underline; 
  background-color: rgb(248, 253, 201);
  padding: 15PX;
}

.A{
    background-color: antiquewhite;
    width: calc(100%-20%);
    height: 750PX;
    border: 1PX SOLID  ;
    padding: 20px;
}
ul{
    list-style-type: square;
}

span{
    background-color: rgb(179, 168, 17);
    padding: 3px;
    margin-right: 10px;
    color: white;
}

button{
padding: 8px 20px;
background-color: rgb(234, 243, 115);
border-radius: 5px;
cursor: pointer;
margin: 15px auto;
display: block;
font-weight: bold;
}
button:hover{
    background-color: rgb(155, 103, 7);
}
